./calentamiento/primer_clase-06-03-25/PrimerConsigna.txt
./calentamiento/Batalla_naval_python/__pycache__
./Ahora_si_q_si_Objetos_con_wollok/.vscode

./Ahora_si_q_si_Objetos_con_wollok/primer_ejercicio/EnPython/Objetos_documentacion_ejercicio
./Ahora_si_q_si_Objetos_con_wollok/primer_ejercicio/EnPython/explicacion.json

./Ahora_si_q_si_Objetos_con_wollok/primer_ejercicio/Yo:/babosa_testing
./Ahora_si_q_si_Objetos_con_wollok/primer_ejercicio/Yo:/programa

./Teoria_wollok/log/
./log/
